{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/dashboard/dashboard.css">
{% endblock %}

{% block content %}
    <div class="dashboard">
        <section class="card" id="trending">
            <h2>Now trending</h2>
            <div class="carousel">
                <ul class="slides-container">
                    {% for i in 0..2 %}
                        <li class="slide">
                            <div class="book-slide">
                                    {% for y in 0..2 %}
                                        <a href="book/show?id={{trending[y + (3 * i)].id}}"><img class="book-img" src="{{trending[y + (3 * i)].cover}}" alt="{{trending[y + (3 * i)].title}}" title="{{trending[y + (3 * i)].title}}"></a>
                                    {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <nav class="slides-nav">
                    <div class="slides-btn left"></div>
                    <div class="slides-btn middle"></div>
                    <div class="slides-btn right"></div>
                </nav>
            </div>
        </section>

        <section class="card" id="reviews">
            <h2>Latest Reviews</h2>
            <div class="carousel">
                <ul class="slides-container">
                    {% for i in 0..2 %}
                        <li class="slide">
                            <div class="review-slide">
                                <img class="book-img" src="{{reviews[i].cover}}" alt="" style="float: right">
                                <h2 style="font-weight: bold">{{reviews[i].title}}</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo suscipit nostrum architecto non? Soluta, necessitatibus architecto fugiat numquam culpa quisquam dolore laboriosam tempore!</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <nav class="slides-nav">
                    <div class="slides-btn left"></div>
                    <div class="slides-btn middle"></div>
                    <div class="slides-btn right"></div>
                </nav>
            </div>
        </section>
        
        <section class="card" id="for-you">
            <h2>For You</h2>
            <div class="carousel">
                <ul class="slides-container">
                    {% for i in 0..2 %}
                        <li class="slide">
                            <div class="book-slide">
                                    {% for y in 0..2 %}
                                        <a href="book/show?id={{forYou[y + (3 * i)].id}}"><img class="book-img" src="{{forYou[y + (3 * i)].cover}}" alt="{{forYou[y + (3 * i)].title}}" title="{{forYou[y + (3 * i)].title}}"></a>
                                    {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <nav class="slides-nav">
                    <div class="slides-btn left"></div>
                    <div class="slides-btn middle"></div>
                    <div class="slides-btn right"></div>
                </nav>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/carousel.js"></script>
{% endblock %}