{% extends 'layout.html.twig' %}
{% block content %}
	<form id="formAdd" action="" method="post" enctype="multipart/form-data">
		<div>
			<div id="coverPicture">
				<label for="imageUpload"><img id="camera" src="/assets/images/appareil-photo-1.png"/></label>
				<input type="file" name="book_editor_cover" id="imageUpload" onchange="previewPicture(this)"/>
				{{ errors.book_editor_cover }}
			</div>
			<div id="check">
				<div id="globalRead">
					<div id="read">
						<img id="firstPicture" src="/assets/images/read.png" alt="An icon to mark if you have read the book you are adding"/>
						<span>READ</span>
					</div>
				</div>
				<div id="globalNotYet">
					<div id="notYet">
						<img id="secondPicture" src="/assets/images/not-yet.png" alt="An icon to mark if you have not read the book you are adding"/>
						<span>NOT YET</span>
					</div>
				</div>
				<input id="choice" name="choice" type="hidden" value="notyet"/>
			</div>
			<div id="innerForm">
				<div id="bookTitle">
					<input type="text" id="book_title" name="book_title" placeholder="TITLE" required/>
					{{ errors.book_title }}
				</div>
				<div id="authorFirstname">
					<input type="text" id="author_firstname" name="author_firstname" placeholder="FIRSTNAME"/>
					{{ errors.author_firstname }}
				</div>
				<div id="authorLastname">
					<input type="text" id="author_lastname" name="author_lastname" placeholder="LASTNAME"/>
					{{ errors.author_lastname }}
				</div>
				<div id="genreLabel">
					<select name="genre_label" id="genre_label">
						<option value="GENRE">GENRE</option>
						{% for genre in constant('App\\Model\\GenreManager::GENRES') %}
							<option value="{{genre}}">{{genre}}</option>
						{% endfor %}
					</select>
					{{ errors.genre_label }}
				</div>
				<div id="bookEditorNbPages">
					<input type="int" id="book_editor_nb_pages" name="book_editor_nb_pages" placeholder="PAGES" required/>
					{{ errors.book_editor_nb_pages }}
				</div>
				<div id="bookEditorIsbn">
					<input type="int" id="book_editor_isbn" name="book_editor_isbn" placeholder="ISBN" required/>
					{{ errors.book_editor_isbn }}
				</div>
				<div id="bookWrittenAt">
					<input type="int" id="book_written_at" name="book_written_at" placeholder="WRITTEN AT"/>
					{{ errors.book_written_at }}
				</div>
				<div id="editorLabel">
					<input type="int" id="editor_label" name="editor_label" placeholder="EDITOR" required/>
					{{ errors.editor_label }}
				</div>
				<div id="bookEditorPublishedAt">
					<input type="int" id="book_editor_published_at" name="book_editor_published_at" placeholder="PUBLISHED AT" required/>
					{{ errors.book_editor_published_at }}
				</div>
				<div id="bookEditorSynopsis">
					<textarea id="book_editor_synopsis" name="book_editor_synopsis" placeholder="SYNOPSIS" required/></textarea>
				{{ errors.book_editor_synopsis }}
			</div>
		</div>
		<input class="submit" type="submit" value="ADD"/>
	</form>
{% endblock %}
{% block javascript %}
	<script src="/assets/js/read.js"></script>
	<script src="/assets/js/cover.js"></script>
{% endblock %}
